/* first div styled */
.image{
    height:1050px;
    background-image: url("../backgrounds/h_img.jpg");
    color:white;
    text-transform: uppercase;
   font-family: 'Didact Gothic', sans-serif;
    text-align: center;
    padding-top:340px;
   
    word-spacing:0.1em;
}
#log2{
    padding-top:300px;
}
/* first div styled */




/* about us style started */
.us{
    margin-top:50px;
    height: 300px;
    font-family: 'DM Sans', sans-serif;
}
/* about us style ended */


/* services start styled */
.laptop{
    height: 400px;
    background-image: url("../backgrounds/s_image.jpg");
    padding-top:100px;

}
#dodo{
    text-align: center;

}

.row {
    padding-top:50px;
}
.p1,.p2,.p3{
    display:none;
    margin-top:30px;
    font-family: 'Times New Roman', Times, serif;
}
#wedo{
text-align:center;
text-transform:uppercase;
font-size:25px;
margin-top:40px;
font-family: 'Didact Gothic', sans-serif;
}
/* services style end */


/* .portfolio style :start */

#portfolios{
    text-align:center;
    text-transform:uppercase;
    font-size:25px;
    margin-top:40px;
    font-family: 'Didact Gothic', sans-serif;   
}
.portfolio{
    height:650px;
    margin-top:50px;
}
.portfolio img{
    width:300px;
   

}
img{
    padding-left: 20px;
}

.us{
    text-align: center;
}
.laptop{
    text-align: center;
    color:white;
}
.port1{
    position: relative;
    text-align: center;
  
}
.port1:hover{
    background-color: black;
  opacity:0.7;

}
.port2:hover{
    background-color: black;
  opacity:0.7;

}
.port3:hover{
    background-color: black;
  opacity:0.7;

}
.port4:hover{
    background-color: black;
  opacity:0.7;

}
.port5:hover{
    background-color: black;
  opacity:0.7;

}
.port6:hover{
    background-color: black;
  opacity:0.7;

}
.port7:hover{
    background-color: black;
  opacity:0.7;

}
.port8:hover{
    background-color: black;
  opacity:0.7;

}
.btn-outline-warning{
    position: absolute;
    border:2px;
    left:70px;

    bottom: 10px;
    width: 150px;
    height:200px;
    width: 200px;
}

#button{
    display:none;
  font-size:20px;
  background-color: transparent; 
  border-color: whitesmoke;
  color:white; 
 
 }
 #button2{
     display:none;
     font-size:20px;
     background-color:  transparent; 
     border-color:whitesmoke;
     color:white;
     font-size:54px;
 }
 #button3{
     display:none;
     font-size:20px;
     background-color: transparent;
      border-color:whitesmoke;
      color:white;
 }
 #button4{
     display:none;
     font-size:20px;
     background-color: transparent; 
     border-color:whitesmoke;
     color:white;
 }
 #button5{
     display:none;
     font-size:20px;
     background-color: transparent;
      border-color:whitesmoke;
      color:white;
 }
 #button6{
     display:none;
     font-size:20px;
     background-color: transparent;
      border-color:whitesmoke;
      color:white;
 }
 #button7{
     display:none;
     font-size:20px;
     background-color: transparent;
      border-color:whitesmoke;
      color:white;
 }
 #button8{
     display:none;
     font-size:20px;
     background-color: transparent; 
     border-color:whitesmoke;
     color:white;
     font-size:30px;
     text-transform: uppercase;
     font: weight 900;
 }
   
/* end of portfolio style */


/* start of contact us style */
.contactus{
    height:680px;
    background-image:url("../backgrounds/c_image.jpg");
}
input[type=text], select, textarea {
    background-color: transparent;
    color:white;
    border-color: aliceblue;
    /* width: 200px; */
}
input[type=submit], select, textarea {
    background-color: transparent;
    color:white;
    margin-top:20px;
    border:1px solid white;
    border-color: aliceblue;
}
textarea#styled{
    background-color: transparent;
    margin-top:50px;
    height: 300px;
    width:1050px;
    margin-left:50px;
    color:white;
    border-color: aliceblue;
}
.form-control::placeholder {
    color:white !important;

    opacity:1;
}
.form-row{
    padding-top:50px;
    color:white;
}
.logo{
    margin-top:50px;
    height:150px;
    margin-left:20px;
}
footer{
    height:100px;
}
.form-control{
background-color:transparent;
}
.message{
    display: none;
    color:white;
    margin-top:300px;
    font-size: 24px;
    text-align:center;
}
#emptyAlertText{
    display:none;
    color:white;
    margin-top:20px;
    text-align: center;

}